.desktopIcon {
    --desktop-icon-scale: 1;
    width: calc(6.5rem * var(--desktop-icon-scale));
    margin: calc(0.5rem * var(--desktop-icon-scale));
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    &[data-link="true"] {
        div:after {
            content: "";
            width: 1.1rem;
            height: 1.1rem;
            background-image: url("/icon__shortcut.png?v=1");
            position: absolute;
            left: 1.5rem;
            bottom: 100%;
            background-size: contain;
        }
    }

    img {
        padding: 0 calc(1rem * var(--desktop-icon-scale));
        margin: calc(0.35rem * var(--desktop-icon-scale)) auto;
        user-select: none;
        height: calc(3rem * var(--desktop-icon-scale));
        width: calc(5rem * var(--desktop-icon-scale));
        object-fit: contain;
    }

    h4 {
        text-shadow: 0.1rem 0.1rem 0.1rem #00000099;
        font-size: calc(0.95rem * var(--desktop-icon-scale));
        line-height: calc(1rem * var(--desktop-icon-scale));
        padding-bottom: calc(0.2rem * var(--desktop-icon-scale));
        border: 0.1rem solid transparent;
    }


    &[data-selected="true"] {
        &>span {
            background: #4069bf;
            mask-position: center;
            mask-size: calc(3rem * var(--desktop-icon-scale)) calc(3rem * var(--desktop-icon-scale));
            mask-repeat: no-repeat;

            @include theme-color("green") {
                background: #95a075;
            }

            @include theme-color("silver") {
                background: #969696;
            }

            img {
                mix-blend-mode: soft-light;
            }
        }

        h4 {
            background-color: #4069bf;
            border: 0.1rem dotted #a79c87;
            text-shadow: none;

            @include theme-color("green") {
                background-color: #95a075;
                border: 0.1rem dotted #645e6d;
            }

            @include theme-color("silver") {
                background-color: #b5b7c8;
                border: 0.1rem dotted #645e6d;
                color: #000;
            }
        }
    }

    @media (max-width: 767px) and (pointer: coarse) {
        --desktop-icon-scale: var(--mobile-desktop-icon-scale, 1.15);
    }
}
