.solitaire {
    background-color: #377d22;
    container-type: inline-size;
    width: 100%;

    .waste {
        margin-left: -1.25cqw;

        &>div:not(:first-child) {
            margin-top: 0;
            margin-left: -13.75cqw;
        }
    }

    .deck {
        width: 15.5cqw;
        cursor: pointer;

        &>div:not(:first-child) {
            margin-top: 0;
            margin-left: -13.75cqw;
        }

        &:empty {
            background-image: url("/spritemap__solitaire-cards.png?v=1");
            background-size: 1297% 600%;
            background-position: 0 -77.5cqw;
            margin: 1.5cqw;
            margin-right: 2.7cqw;
            width: 11.3cqw;
        }
    }

    .foundations>div:empty:after {
        content: "";
        display: block;
        background-image: url("/spritemap__solitaire-cards.png?v=1");
        background-size: 1300% 600%;
        background-position: -22.55cqw -73.05cqw;
        width: calc(14.28cqw - 3cqw);
        aspect-ratio: 44 / 57;
        margin: 1.5cqw;
    }
}