.desktop {
    width: 100%;
    height: calc(100% - 3rem);
    position:absolute;
    top: 0;
    left: 0;

    &[data-drag-over="true"] {
        outline: 0.2rem dashed #d6e6ff;
        outline-offset: -0.6rem;
    }
}
